[components]
ticketfieldparser.ticketfieldparser.ticketfieldparser = enabled

[ticket-field-parser]
field_name_to_id_match = .*
field_name_to_id_replace = field-$&
field_to_parse = description
ignore_line_pattern = -+
key_value_delimiter = :
pasted_text_pattern = FULL REQUEST INFORMATION FOLLOWS\.*\s*(.*)
debug_on = false

[ticket-field-parser-xref]
benefits.source_key = Business Justification
business_benefit.source_key = Business Benefit
business_unit.source_key = Company ID
busown_email.source_key = Manager's E-mail
component.source_key = Application
description.js = ${description}.replace(/^For IT Request ID #([0-9]+),(.*)$/, '$2')
description.order = 11
description.source_key = Details
itr_id.js = ${itr_id}.replace(/^For IT Request ID #([0-9]+),(.*)$/, '$1')
itr_id.order = 10
itr_id.source_key = Details
reporter.js = ${req_email}.substring(0,${req_email}.indexOf("@"))
reporter.order = 2
req_email.order = 1
req_email.source_key = E-mail
risks.source_key = Impact
scope.source_key = Project/ITR Type
submitted_date.source_key = Submitted Date/Time
summary.js = 'ITR'+${itr_id}+' '+${description}.substring(0,100).trim()
summary.order = 20
type.value = enhancement
